.le_bouton {
    position: relative;
    z-index: 3;
    padding: 20px 30px;
    color: #fff;
    background: linear-gradient(100deg, #2d6fff, #00ADFF, #00D9F5, #00ADFF, #2d6fff);
    background-size: 800%;
    border-radius: 50px;
    text-transform: uppercase;
    animation: lebouton 12s linear infinite;
    animation-play-state: running;
    border: 0;
    margin-top: 25px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 15px;
}

@keyframes lebouton {
    0%
    {
        background-position: 0%;
    }

    100%
    {
        background-position: 400%;
    }
}